.container{
    display: flex;
    align-items: center;
}
.col{

}
b, strong,th{
    color:rgb(138, 40, 40);
}

li::marker {
    color: rgb(138, 40, 40);
    content: "►";
}
  
a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}
li,td,td,th,p{
    font-size: 24px;
}

.reveal h1{
  font-size: 46px;
}

.reveal h2{
  font-size: 28px;
}

.reveal a{
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
a:any-link {
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
.reveal a {
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
a {
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}

ul.noBullet{
  list-style: none;
}

input[type="checkbox"]{
  display: none;
  border: none !important;
  box-shadow: none !important;
}

input[type="checkbox"] + label span {   
  background: url(uncheck.png);
  width: 49px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
}
.opaque {
  opacity: 0;
}

input[type="checkbox"]:checked + label span {
  background: url(check_2.png);
  width: 49px;
  height: 49px;
  vertical-align: middle;
}
