 <a href="index.html#/1"><img style='position: fixed; top: 0px; 
    right: 0px;width: 50px; height: 50px;' src="../fig/home.png"></a>
<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<script src="../python/regression.js"></script>