.container{
    display: flex;
}
.col{

}
b, strong{
    color:rgb(138, 40, 40);
}

li::marker {
    color: rgb(138, 40, 40);
    content: "►";
}
  
a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

a:hover {
  color: #06e;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

.reveal a{
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
a:any-link {
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
.reveal a {
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
a {
  pointer-events: all;
  cursor: pointer;
  text-shadow: black;
}
img{
  width: auto;
  height: 150px;
}
body{
  width: 600px;
  margin: 0 auto;
}
h1{
  font-size: 32px;
  color:rgb(138, 40, 40);
  text-align: center;
}
.subtitle{
  color:rgb(138, 40, 40);
  text-align: center;
  padding-bottom: 1cm;
  border-bottom: solid;
}
.author{
  text-align: center;
  color:darkblue;
}
h2{
  font-size: 28px;
  color:rgb(138, 40, 40);
}