<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

chart1
<div id="container" style="width: 50%;">
    <canvas id="chart1"></canvas>
    </div>
    
<div id="container" style="width: 50%;">
chart2
<canvas id="chart2"></canvas>
</div>
chart2b
<div id="container" style="width: 50%;">
	<canvas id="chart2b"></canvas>
</div>
chart2c
<div id="container" style="width: 50%;">
	<canvas id="chart2c"></canvas>
</div>
chart4
<div  style="width: 75%;margin: 0 auto;">
    <button id="gd1">**$\eta$**=0.02</button>
    <button id="gd2">**$\eta$**=0.1</button>
    <button id="gd3">**$\eta$**=0.5</button>
    <canvas id="chart4"></canvas>
</div>

<!-- chart5
<div id="container" style="width: 50%;">
	<canvas id="chart5"></canvas>
</div> -->
chart6
<div id="container" style="width: 50%;">
	<canvas id="chart6"></canvas>
</div>
chart7
<div id="container" style="width: 50%;">
	<canvas id="chart7"></canvas>
</div>
chart8
<div>
    <button id="deg2">**deg**=2</button>
    <button id="deg5">**deg**=5</button>
    <button id="deg10">**deg**=10</button>
    <button id="deg25">**deg**=25</button>
    <button id="deg75">**deg**=75</button>
</div>
<canvas id="chart8"></canvas>
<!-- chart9
<div id="container" style="width: 50%;">
	<canvas id="chart9"></canvas>
</div> -->
<!-- chart10
<div id="container" style="width: 50%;">
	<canvas id="chart10"></canvas>
</div>
chart11
<div id="container" style="width: 50%;">
	<canvas id="chart11"></canvas>
</div> -->
chart12
<div id="container" style="width: 50%;">
	<canvas id="chart12"></canvas>
</div>
chart13
<div id="container" style="width: 50%;">
	<canvas id="chart13"></canvas>
</div>
chart14
<div id="container" style="width: 50%;">
	<canvas id="chart14"></canvas>
</div>
chart14b
<div id="container" style="width: 50%;">
	<canvas id="chart14b"></canvas>
</div>
chart15
<div id="container" style="width: 50%;">
	<canvas id="chart15"></canvas>
</div>
chart16
<div id="container" style="width: 50%;">
	<canvas id="chart16"></canvas>
</div>
chart17
<div style="width: 100%;margin: 0 auto;">
	<button id="alpha000">**$\alpha$**=0</button>
	<button id="alpha010">**$\alpha$**=10</button>
	<button id="alpha100">**$\alpha$**=100</button>
</div>
<div id="container" style="width: 50%;">
	<canvas id="chart17"></canvas>
</div>
<!-- chart18
<div id="container" style="width: 50%;">
	<canvas id="chart18"></canvas>
</div>
chart19
<div id="container" style="width: 50%;">
	<canvas id="chart19"></canvas>
</div> -->
chart20
<div style="width: 100%;margin: 0 auto;">
	<button id="alpha00">**$\alpha$**=0</button>
	<button id="alpha05">**$\alpha$**=$1e^{-5}$</button>
	<button id="alpha01">**$\alpha$**=100</button>
</div>
<canvas id="chart20"></canvas>
chart20b
<div id="container" style="width: 50%;">
	<canvas id="chart20b"></canvas>
</div>
chart21
<div id="container" style="width: 50%;">
	<canvas id="chart21"></canvas>
</div>
chart23
<div id="container" style="width: 50%;">
	<canvas id="chart23"></canvas>
</div>
chart24
<div id="container" style="width: 50%;">
	<canvas id="chart24"></canvas>
</div>  
chart25
<div id="container" style="width: 50%;">
	<canvas id="chart25"></canvas>
</div> 
chart26
<div id="container" style="width: 50%;">
	<canvas id="chart26"></canvas>
</div> 
<script src="../javascript/scriptAI1.js"></script>
<script src="../javascript/scriptAI2.js"></script>